.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  /* height: 200px; */
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.box {
  margin: 20px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  transition: transform .2s; /* Animation */
}
.box:hover{
  transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 200, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 200, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 200, 0, 0.8);
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

.boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}

@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}
