.div{
	color: white;
}
.Jumbo{
	background-image: url(https://cdn-media-1.freecodecamp.org/images/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover; 
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container{
	text-align: right;
	padding: 2rem;
}

.About{
	text-decoration-color: white;
	text-align: center;
	font-size: 24px;
	background-size: cover;
}

#profilePic{
	color: white;
	border-radius: 50%;
    width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.figure-caption{
	color: white
}
