.Jumbo{
	background-image: url(https://cdn-media-1.freecodecamp.org/images/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: contain;
}

.container{
	color: rgb(255, 255, 255);
	text-align: right;
	padding: 2rem;
}

.About{
	text-align: center;
	font-size: 24px;
	background-color: rgb(1, 4, 44);
	margin: 5rem;
}