#root{
    position:relative;
    display:block;
    margin:auto;
    width:98%;
}
.MyCard50{
    width: 40%; float: left; margin: 5%; height:300px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    transition: transform .2s; /* Animation */
}
.MyCard50:hover{
    transform: scale(1.10);

}
.MyCom90{
    position:relative;
    display:block;
    width:90%;
    text-align: center;
    margin:auto;
}
.MyCard { width: 30%; float: left; margin: 20px; height:300px;  
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    transition: transform .2s; /* Animation */
}
.MyCard:hover{
    transform: scale(1.20);

}


div{
    font-family: 'Italiana', serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> 904297359aec6aa3a7928df8dad35947e4baf341
