#profilePic{
	color: white;
	border-radius: 50%;
    width: 200px;
	height: 250px;
	margin-top: 10px;
    margin-bottom: 20px;
    background-position: center;
}

#resume-btn{
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

#aboutme{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
